<%- include("partials/header.ejs"); -%>

    <form action="/" method="post">
    <input type="text" name="country">
    <button type="submit">Search</button>
    </form>

<%- include("partials/footer.ejs"); -%>